## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'Suicide Rates.csv')
print('Path of read in data: %s' % (f_app))
sr = pd.read_csv(f_app)  #sr means  Suicide Rates

Path of read in data: ./data/Suicide Rates.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [22]:
row,col=sr.shape
print('row =',row)
print('col =',col)

row = 27820
col = 12

#### 列出所有欄位

In [56]:
sr.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

#### 截取部分資料

In [31]:
sr.iloc[100:-1:2000]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
100,Albania,1997,female,15-24 years,21,294000,7.14,Albania1997,NaN,"2,359,903,108",793,Generation X
2100,Austria,2011,male,35-54 years,336,1292255,26.00,Austria2011,0.881,"431,120,310,089",53923,Generation X
4100,Belize,2012,male,55-74 years,3,12340,24.31,Belize2012,0.716,"1,573,670,250",5264,Boomers
6100,Costa Rica,1992,female,35-54 years,4,300600,1.33,Costa Rica1992,NaN,"8,528,593,084",3070,Boomers
8100,El Salvador,1992,female,55-74 years,2,227500,0.88,El Salvador1992,NaN,"5,813,399,300",1266,Silent
10100,Greece,1991,female,55-74 years,26,1112085,2.34,Greece1991,NaN,"105,143,232,380",10816,Silent
12100,Ireland,1988,female,75+ years,2,91600,2.18,Ireland1988,NaN,"37,818,134,253",11696,G.I. Generation
14100,Kiribati,1995,female,35-54 years,0,7072,0.00,Kiribati1995,NaN,"56,338,028",855,Boomers
16100,Malta,2009,male,55-74 years,9,45352,19.84,Malta2009,NaN,"8,528,202,278",21695,Silent
18100,Norway,2005,male,15-24 years,50,290219,17.23,Norway2005,0.931,"308,722,079,938",71215,Millenials
20100,Qatar,2006,male,75+ years,1,1511,66.18,Qatar2006,NaN,"60,882,142,857",64762,Silent
22100,Serbia,2009,male,75+ years,204,212060,96.20,Serbia2009,NaN,"42,616,653,300",6116,Silent
24100,Suriname,1990,female,35-54 years,0,32000,0.00,Suriname1990,NaN,"388,300,000",1114,Silent
26100,Ukraine,1989,female,25-34 years,216,3945800,5.47,Ukraine1989,NaN,"82,709,161,099",1732,Boomers

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [52]:
sr['country'].max()

'Uzbekistan'

In [58]:
sr.axes
?sr.axes